<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <h1>This is email from {{sender}}</h1>
    {% if action == "accept" %}
    <p>{{reciever}} your metting has been booked</p>
    {% if action == "delete" %}
    <p>{{reciever}} your metting has been cancelled call the support team</p>
    {% else %}
    <p>{{reciever}} your metting has been booked</p>
    {% endif %}
  </body>
</html>
