
:root {
    --primary-color: #047aed;
    --background-color: #4dabf7;
    --pastel-color: #94b3fd;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

body {
    font-family: IRANSans;
    color: #333;
    line-height: 1.6;
    direction: rtl;
    background-size: 100%;
    background: var(--background-color);
    /* background-image: url(../img/contact-about/background2.jpg); */
}


.wlcmtxt {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}


.userInformation{
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 5%;
    padding: 20px;
}

.top-text {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}


.half-div{
    display: flex;
    justify-content: center;
}

.forimg{
    width: 35%;
    margin: 15px;
    margin-top: 50px;
}

.forimg >img{
    width: 290px;
    height: auto;
}

.button-avatar{
    margin-top: 10px;
    margin-right: 45px;
}

.button-main-avatar {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 0.9rem;
    background-color: #047aed; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-submit-avatar {
    margin-right: 25%;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-avatar:hover {
    margin-right: 25%;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}



.information{
    width: 70%;
    border-left: dotted 1px #808080;
    margin: 20px;
    padding: 10px;
}

.info {
    font-family: IRANSans;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.intext {
    font-family: IRANSans;
    width: 90%;
    display: block;
    /*    display:flex;
    flex-direction: row;*/
}


.information input[type="text"] {
    direction: rtl;
    display: inline-block;
    border: 0;
    /* border-bottom: 1px solid #333; */
    width: 150px;
    height: 50px;
    font-size: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 5px 0 15px 0;
    width: 100%;
}

.information input[type="date"] {
    direction: rtl;
    display: inline-block;
    border: 0;
    /* border-bottom: 1px solid #333; */
    width: 150px;
    height: 50px;
    font-size: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 5px 0 15px 0;
    width: 100%;
}

.information input[type="email"] {
    direction: rtl;
    display: inline-block;
    border: 0;
    /* border-bottom: 1px solid #333; */
    width: 150px;
    height: 50px;
    font-size: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 5px 0 15px 0;
    width: 100%;
}

.information input[type="password"] {
    direction: rtl;
    display: inline-block;
    border: 0;
    /* border-bottom: 1px solid #333; */
    width: 150px;
    height: 50px;
    font-size: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 5px 0 15px 0;
    width: 100%;
}


.button {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    font-size: 0.9rem;
    background-color: #047aed; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-submit {
    margin-right: 25%;
    /* font-size: 0.9rem; */
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}


/*Orders section*/

#orders {
    margin-top: 20px;
}



.forcard {
    /*border: red 1px double;*/
    width: 25%;
    margin: 15px;
}

.orderinfo {
    width: 70%;
    font-size: 20px;
    border-left: dotted 2px #808080;
    margin: 20px;
    padding: 10px;
}

.card {
    position: relative;
    /*border: 2px solid black;*/
    display: inline-block;
    width: 95%;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    height: 400px;
}

    .card img {
        position: relative;
        width: 220px;
        height: 250px;
    }

    .card hr {
        margin: 0px 15px;
        border: 1px solid black;
    }

    .card h2 {
        margin: 0px;
    }

    .card:hover {
        box-shadow: 3px 3px 5px 5px #898787;
        border: 0px;
    }